/* You can add global styles to this file, and also import other style files */
.backgroundWhite{
    background-color:white;
    padding:30px;
    border-radius:10px;
    margin-bottom:30px;
}

.backgroundWhiteBorder {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
    border:1px solid #ddd;
}

.backgroundWhiteBorder10Padding {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
